[submodule "The_Martyr_Tower____animation"]
	path = The_Martyr_Tower____animation
	url = https://github.com/rajesh-1920/The_Martyr_Tower____animation
[submodule "Maze_Run_Game"]
	path = Maze_Run_Game
	url = https://github.com/rajesh-1920/Maze_Run_Game
