[submodule "Maze_Run_Game"]
	path = Maze_Run_Game
	url = https://github.com/rajesh-1920/Maze_Run_Game
[submodule "Tic_Tac_Toe_game_java"]
	path = Tic_Tac_Toe_game_java
	url = https://github.com/rajesh-1920/Tic_Tac_Toe_game_java
[submodule "Flutter-Project"]
	path = Flutter-Project
	url = https://github.com/rajesh-1920/Flutter-Project
[submodule "National_Martyrs_Monument______animation"]
	path = National_Martyrs_Monument______animation
	url = https://github.com/rajesh-1920/National_Martyrs_Monument______animation
[submodule "The-Martyr-Tower-sheed-miner----------animation"]
	path = The-Martyr-Tower-sheed-miner----------animation
	url = https://github.com/rajesh-1920/The-Martyr-Tower-sheed-miner----------animation
